<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>7</td>
                    <td>$ <span>534</span></td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>2</td>
                    <td>$ <span>234</span></td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>3</td>
                    <td>$ <span>584</span></td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>1</td>
                    <td>$ <span>934</span></td>
                </tr>
            </tbody>
        </table>
        <div>
            <span>Total: <span>84895</span></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <p class="card-text"> 數量: 1</p>
                <p class="card-text"> 地址: 1</p>
                <p class="card-text"> 電話: 1</p>
                <p class="card-text"> 運送狀態: 1</p>
                <p class="card-text"> 付款狀態: 1</p>

                <a href="#" class="btn btn-primary">取消訂單</a>
                <a href="#" class="btn btn-primary">立即付款</a>
            </div>
        </div>
    </div>

</div>
<hr>